# Dependency directories
node_modules/
jspm_packages/
web_modules/

# Environments and Secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.pem
*.key

# Build and Output
dist/
build/
out/
.next/
bin/
obj/
*.apk
*.exe

# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd
.venv
venv/
ENV/
env/

# IDE files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
